* {
   font-family: lato;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

#nav {
   background-color: #F7F4FF;
   max-width: 1231px;
   width: 100%;
   margin-left: auto;
   padding: 12px 24px;
}

#logo {
   vertical-align: middle;
   display: inline-block;
   margin-right: 277px;
}

#ul {
   list-style-type: none;
   margin: 0;
   display: inline-block;
   vertical-align: middle;
   width: 349px;
   margin-right: 277px;
}

#li1,
#li2,
#li3,
#li4 {
   display: inline-block;
   padding: 0 10px;
   vertical-align: middle;

}

#li3 {
   color: #8E26C0;
}

#contact {
   display: inline-block;
   vertical-align: middle;
   color: #8E26C0;
   font-family: Inter;
   font-size: 14px;
   border-radius: 8px;
   border: 1px solid #8E26C0;
   padding: 8px 16px;

}

#navigation {
   display: inline-block;
   vertical-align: middle;

}

#main {
   margin-top: 142px;
   text-align:center;
}

#image,#image img {
   max-width:610px;
   width: 100%;
   display:inline-block;
   vertical-align: middle;
}



#textdiv {
   max-width:644px;
   width:100%;
   display:inline-block;
   vertical-align: middle;
   margin-left:45px;
}

#textp {
   margin-top:15px;
   margin-bottom:20px;
   font-size: 20px;
}

#li21,#li22,#li23,#li24,ol {
   text-align:left;
   margin-bottom:10px;
   font-size: 24px;
}


#text2 {width:905px;
margin:0 auto}

#contactdiv{}

#infobox {
   border-radius: 16px;
   background: #F7F4FF;
   max-width:1221px;
   width:100%;
   margin:0 auto;
}

#marcxena {
   border-radius:16px;
   max-width:403px;
   width:100%;
}

.icon {
   display:inline-block;
   vertical-align:middle;
}

.textdiv{
   vertical-align:middle;
   display:inline-block;
   text-align:left;
}

.address {

}

