* {
   font-family: lato;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

#nav {
   background-color: #F7F4FF;
   max-width: 1231px;
   width: 100%;
   margin-left: auto;
   padding: 12px 24px;
}

#logo {
   vertical-align: middle;
   display: inline-block;
   margin-right: 277px;
}

#ul {
   list-style-type: none;
   margin: 0;
   display: inline-block;
   vertical-align: middle;
   width: 349px;
   margin-right: 277px;
}

#li1,
#li2,
#li3,
#li4 {
   display: inline-block;
   padding: 0 10px;
   vertical-align: middle;

}

#li3 {
   color: #8E26C0;
}

#contact {
   display: inline-block;
   vertical-align: middle;
   color: #8E26C0;
   font-family: Inter;
   font-size: 14px;
   border-radius: 8px;
   border: 1px solid #8E26C0;
   padding: 8px 16px;

}

#navigation {
   display: inline-block;
   vertical-align: middle;

}

#main {
   margin-top: 142px;
   text-align: center;
}

#image,
#image img {
   max-width: 610px;
   width: 100%;
   display: inline-block;
   vertical-align: middle;
}



#textdiv {
   max-width: 644px;
   width: 100%;
   display: inline-block;
   vertical-align: middle;
   margin-left: 45px;
}

#textp {
   margin-top: 15px;
   margin-bottom: 20px;
   font-size: 20px;
}

#li21,
#li22,
#li23,
#li24,
ol {
   text-align: left;
   margin-bottom: 10px;
   font-size: 24px;
}


#text2 {
   width: 905px;
   margin: 0 auto;
   margin-bottom: 28px;
}

#contactdiv {
   margin-top: 83px;
}

#infobox {
   border-radius: 16px;
   background: #F7F4FF;
   max-width: 1221px;
   width: 100%;
   margin: 0 auto;
   padding: 32px;
   text-align: left;
}

#marcxena {
   border-radius: 16px;
   max-width: 403px;
   width: 100%;
   background-color: #fff;
   padding: 20px;
   height: 474px;
   display: inline-block;
   vertical-align: top;
   margin-right: 20px;
}

.information {
   margin-bottom: 25px;
}

.icon {
   display: inline-block;
   vertical-align: middle;
}

.textdiv {
   vertical-align: middle;
   display: inline-block;
   text-align: left;
}

.address {
   margin-bottom: 5px;
}

#name,
#mail,
#textarea {
   color: #6D5F8B;
   padding: 8px 16px;
   font-size: 14px;
   border-radius: 8px;
   border: 1px solid #8E26C0;
   display: block;
   margin-top: 10px;
   margin-bottom: 30px;
   width: 698px;
}

#textarea {
   margin-top: 40px;
   height: 122px;
}

#marjvena {
   display: inline-block;
}

#marjvena h2 {
   font-size: 32px;
   margin-bottom: 16px;
}

#send {
   text-align: right;
}

#sendbtn {
   width: 140px;
   padding: 12px 24px;
   border-radius: 8px;
   background-color: #8E26C0;
   color: #FFF;
   font-family: Inter;
   font-size: 16px;
}

footer {
   margin-top: 163px;
   height: 480px;
   padding: 64px 0px 48px 0px;
   background-color: #53389E;
}

.shortcuts {
   height: 240px;
   width: 176px;
   padding: 0px 32px;
   display: inline-block;
   vertical-align: middle;
   margin-right: 32px;
}

.ul {
   display: inline-block;
   color: #E9D7FE;
   list-style-type: none;
}

.li {
   margin-bottom: 12px;
   vertical-align: middle
}

#new {
   padding-right: 20px;
   display: inline-block;
}

#span {
   border-radius: 6px;
   border: 1px solid rgba(255, 255, 255, 0.30);
   background: rgba(255, 255, 255, 0.10);
   padding: 2px 6px;
   display: inline-block;
   vertical-align: middle;
   margin-left: 9px;
}

.texti {
   width: fit-content;
   color: #D6BBFB;
   margin-bottom: 16px;
}

#topfooter {
   height: 240px;
   max-width: 1280px;
   width: 100%;
   margin: 0 auto;

}

#bottomfooter {
   color: white;
   max-width: 1280px;
   width: 100%;
   margin: 0 auto;
   padding:0 32px;
   margin-top:64px;
}

#border {
   border-top: 1px solid #7F56D9;
   padding-top:32px;
}

#fimg {
   display: inline-block;
   vertical-align: middle;
   margin-right:807px;
}



#fp {
   display:inline-block;
}